Repository fulder/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

calibre-web:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: calibre-web.json

emby:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: emby.json

emby-server-stable:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: emby-server-stable.json

homebridge:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: homebridge.json

hoobs:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: hoobs.json

jackett:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: jackett.json

jenkins:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: jenkins.json

jenkins-lts:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-1
  env:
    PLUGIN_FILE: jenkins-lts.json

motioneye:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-12-2
  env:
    PLUGIN_FILE: motioneye.json

unificontroller-lts:
  install_script: .cirrus/install_script.sh
  matrix:
  - freebsd_instance:
      image_family: freebsd-11-3
  env:
    PLUGIN_FILE: unificontroller-lts.json

Remove new working task
  .cirrus.yml
Due: none

Test switch to curl
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Disable plugins repo after installation
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Set verifypeer and host to false
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Decrease curl timeout
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Add location flag
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Give plugins opertunity to ignore following redirects
  .cirrus.yml
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Remove working plugin
  .cirrus.yml
Due: none

Remove valid failure
  .cirrus.yml
Due: none

Remove more expected failures
  .cirrus.yml
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Remove expected failure
  .cirrus.yml
Due: none

Remove extra spaces
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Rename variable
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Correct FOLLOW_REDIRECTS name
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Bump resources
  .cirrus.yml
Due: none

Comment away working jackett
  .cirrus.yml
Due: none

Use corl flags instead for own while loop
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Fix info print
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Upgrade homebridge to 12.2
  .cirrus.yml
  homebridge.json
Due: homebridge

Upgrade hoobs to 12.2
  .cirrus.yml
  hoobs.json
Due: hoobs

Change own retry login into curl with retry flags
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Use new FOLLOW_REDIRECTS env var for jackett
  .cirrus.yml
Due: none

Change plugin folder location
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Add support for admin ui placeholders, use IP instead of localhost
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Disable plugin pkg repo after post_install
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Remove nginx dependency and test own plugin artifact
  jenkins.json
Due: jenkins

Set -euo pipefail before post_install
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Debug one plugin
  .cirrus.yml
Due: none

Bump rtorrent-flood to 12.2
  .cirrus.yml
  rtorrent-flood.json
Due: none

Remove node and python dependencies
  rtorrent-flood.json
Due: none

Debug homebridge task
  .cirrus.yml
  homebridge.json
Due: homebridge

Increase curl sleep/retry and try curl localhost
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Debug sockstat
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Test source post_install
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Check pm2 log
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Skip source post_install script
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Set home env var to root
  .cirrus.yml
Due: none

Test setting Home to iocage root path
  .cirrus.yml
Due: none

Test source post_install
  .cirrus.yml
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Debug print sbin content
  .cirrus/install_script.sh
Due: calibre-web, emby, emby-server-stable, homebridge, hoobs, jackett, jenkins, jenkins-lts, motioneye, unificontroller-lts

Path conditions:
  calibre-web: any of: calibre-web.json, .cirrus/install_script.sh
  emby: any of: emby.json, .cirrus/install_script.sh
  emby-server-stable: any of: emby-server-stable.json, .cirrus/install_script.sh
  homebridge: any of: homebridge.json, .cirrus/install_script.sh
  hoobs: any of: hoobs.json, .cirrus/install_script.sh
  jackett: any of: jackett.json, .cirrus/install_script.sh
  jenkins: any of: jenkins.json, .cirrus/install_script.sh
  jenkins-lts: any of: jenkins-lts.json, .cirrus/install_script.sh
  motioneye: any of: motioneye.json, .cirrus/install_script.sh
  unificontroller-lts: any of: unificontroller-lts.json, .cirrus/install_script.sh
