Repository fulder/iocage-plugin-index: changes, and which Cirrus tasks are due for each by the changed paths.
All: backuppc, bazarr, bind, calibre-web, channels-dvr, clamav, deluge-pip, dnsmasq, drupal8, duplicati, emby, emby-server-stable, esphome, famp, gitea, gitlab, gogs, grafana, heimdall-dashboard, homeassistant, homebridge, hoobs, i2p, irssi, jackett, jenkins, jenkins-lts, lidarr, madsonic, mineos, monica, mosquitto, motioneye, netdata, node-red, nzbget, openspeedtest-server, openvpn, privatebin, qbittorrent, quasselcore, radarr, rslsync, rtorrent-flood, sabnzbd, sickchill, sonarr, tasmoadmin, tautulli, transmission, unificontroller, unificontroller-lts, vault, weechat, xmrig, zoneminder, zrepl, zwavejs2mqtt

Path conditions:
  backuppc: any of: backuppc.json
  bazarr: any of: bazarr.json
  bind: any of: bind.json
  calibre-web: any of: calibre-web.json
  channels-dvr: any of: channels-dvr.json
  clamav: any of: clamav.json
  deluge-pip: any of: deluge-pip.json
  dnsmasq: any of: dnsmasq.json
  drupal8: any of: drupal8.json
  duplicati: any of: duplicati.json
  emby: any of: emby.json
  emby-server-stable: any of: emby-server-stable.json
  esphome: any of: esphome.json
  famp: any of: famp.json
  gitea: any of: gitea.json
  gitlab: any of: gitlab.json
  gogs: any of: gogs.json
  grafana: any of: grafana.json
  heimdall-dashboard: any of: heimdall-dashboard.json
  homeassistant: any of: homeassistant.json
  homebridge: any of: homebridge.json
  hoobs: any of: hoobs.json
  i2p: any of: i2p.json
  irssi: any of: irssi.json
  jackett: any of: jackett.json
  jenkins: any of: jenkins.json
  jenkins-lts: any of: jenkins-lts.json
  lidarr: any of: lidarr.json
  madsonic: any of: madsonic.json
  mineos: any of: mineos.json
  monica: any of: monica.json
  mosquitto: any of: mosquitto.json
  motioneye: any of: motioneye.json
  netdata: any of: netdata.json
  node-red: any of: node-red.json
  nzbget: any of: nzbget.json
  openspeedtest-server: any of: openspeedtest-server.json
  openvpn: any of: openvpn.json
  privatebin: any of: privatebin.json
  qbittorrent: any of: qbittorrent.json
  quasselcore: any of: quasselcore.json
  radarr: any of: radarr.json
  rslsync: any of: rslsync.json
  rtorrent-flood: any of: rtorrent-flood.json
  sabnzbd: any of: sabnzbd.json
  sickchill: any of: sickchill.json
  sonarr: any of: sonarr.json
  tasmoadmin: any of: tasmoadmin.json
  tautulli: any of: tautulli.json
  transmission: any of: transmission.json
  unificontroller: any of: unificontroller.json
  unificontroller-lts: any of: unificontroller-lts.json
  vault: any of: vault.json
  weechat: any of: weechat.json
  xmrig: any of: xmrig.json
  zoneminder: any of: zoneminder.json
  zrepl: any of: zrepl.json
  zwavejs2mqtt: any of: zwavejs2mqtt.json

Add support for plugin release branches
  .cirrus.yml
Due: none

Run homeassistant test for older FreeBSD versions
  .cirrus.yml
  homeassistant.json
Due: homeassistant

Downgrade esphome freebsd version, no longer maintained
  .cirrus.yml
Due: none

Trigger esphome re-run
  esphome.json
Due: esphome

Clone using freebsd-version not release from JSON
  .cirrus.yml
Due: none

Re-run hoobs task
  hoobs.json
Due: hoobs

Re-run irssi task
  irssi.json
Due: irssi

Upgrade python from 2 to 3 in motioneye
  motioneye.json
Due: motioneye

Bump node-red to 12.2 release
  .cirrus.yml
  node-red.json
Due: node-red

Re-trigger quasselcore task
  quasselcore.json
Due: quasselcore

Downgrade unifi from 6 to 5
  unificontroller.json
Due: unificontroller

Re-run weechat task
  weechat.json
Due: weechat

Re-run xmrig task
  xmrig.json
Due: xmrig

Re-run duplicati task
  duplicati.json
Due: duplicati

Check if gitl isntalled using which
  .cirrus.yml
Due: none

Construct release branch from freebsd-version
  .cirrus.yml
Due: none

Update badges to current branch
  README.md
Due: none

Remove temporary re-triggers
  dnsmasq.json
  duplicati.json
  esphome.json
  homeassistant.json
  hoobs.json
  irssi.json
  quasselcore.json
  weechat.json
  xmrig.json
Due: dnsmasq, duplicati, esphome, homeassistant, hoobs, irssi, quasselcore, weechat, xmrig

Test fetching admin portal after plugin installation
  .cirrus.yml
Due: none

Retry admin portal fetch 10 times with 5 s. sleep
  .cirrus.yml
Due: none

Add missing while condition spaces
  .cirrus.yml
Due: none

Fix max_retries variable name typo
  .cirrus.yml
Due: none

Missing '$' before variable
  .cirrus.yml
Due: none

Ignore fetching admin portal without http or IP
  .cirrus.yml
Due: none

Debug run one task
  .cirrus.yml
Due: none

Revert "Debug run one task"
  .cirrus.yml
Due: none

Correct admin portal variable name and add echo
  .cirrus.yml
Due: none

Debug homeassistant
  homeassistant.json
Due: homeassistant

Debug run homeassitant only
  .cirrus.yml
Due: none

Test reinstall homeassistant
  .cirrus.yml
Due: none

Ls venv folder
  .cirrus.yml
Due: none

Run whoami
  .cirrus.yml
Due: none

Accept failure
  .cirrus.yml
Due: none

Debug pkg install
  .cirrus.yml
Due: none

Increase instance resources
  .cirrus.yml
Due: none

Lower resources
  .cirrus.yml
Due: none

Lower to initial
  .cirrus.yml
Due: none

More debugging
  .cirrus.yml
Due: none

Bump homeassistant to 12.2 release
  .cirrus.yml
  homeassistant.json
Due: homeassistant

Add temp sleep
  .cirrus.yml
  homeassistant.json
Due: homeassistant
